.map-wrapper {
    height: 450px;
}

.iss-icon-wrapper {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid white;
    box-shadow: 0 0 4px rgba(0,0,0,0.3);
}

.iss-icon-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}